<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>about</h2>
    <a href="/home/">home</a>
    <a href="/service/">service</a>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt repellendus, suscipit necessitatibus, consectetur minima harum blanditiis eum fugiat natus similique quidem veniam veritatis molestias. Officiis, molestiae unde. Natus, omnis fugiat.</p>
</body>
</html>