<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
    <a href="/about/">about</a>
    <a href="/service/">service</a>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam perspiciatis asperiores ab libero ipsa, et fugit expedita itaque sit, quidem rem ducimus, sapiente repellendus fuga nisi. Debitis non tenetur numquam?</p>
</body>
</html